extends layout

block content
	div.container-fulid
		div(class='navbar navbar-default')
			div.container
				div.navbar-header
					a.navbar-brand= title
	div(class='container' id='demo')
		div(class='col-sm-12 col-md-8' id='map')
		div(class='col-sm-12 col-md-4' id='route-container')